
@{
    Layout = "_LayoutPokemon";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div>
    <div><br /></div>
    <table class="table table-responsive-xl table-striped ">
        <thead>
            <tr class="bg-dark">
                <th scope="col" class="text-warning text-center">No</th>
                <th scope="col" class="text-warning text-center">Nama</th>
                <th scope="col" class="text-warning text-center">Url</th>


            </tr>
        </thead>
        <tbody id="listSW">
        </tbody>
    </table>

</div>
<!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Detail Pokemon</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript" src="~/js/pokemon.js"></script>

}