@{
    Layout = "_LayoutDataTables";
}







<div class="row">
    @*chart1*@
    <!-- Donut Chart -->
    <div class="col-xl-6 col-lg-8">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Chart Gendery</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">

                <div id="chart">
                </div>


            </div>
        </div>
    </div>
    @*chart2*@
    <div class="col-xl-6 col-lg-8">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Chart University</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">

                <div id="chart2">
                </div>


            </div>
        </div>
    </div>
</div>


<div class="row">

    <!-- Donut Chart -->
    <div class="col-xl-6 col-lg-8">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Chart Salary</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">

                <div id="chart3">
                </div>


            </div>
        </div>
    </div>
</div>

<div class="row">

    <!-- Donut Chart -->
    
</div>
@section Scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script src="https://cdn.datatables.net/buttons/2.1.0/js/dataTables.buttons.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>

    <script src="https://cdn.datatables.net/buttons/2.1.0/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.1.0/js/buttons.print.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.2/dist/jquery.validate.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="~/js/Dashboard.js"></script>

}